.promo {
    background-image: url('../../vector/background.png');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 800px;

    background-color: #FCDA28;
    color: black;

    &__text {
        padding: 100px 0 0 64px;
        z-index: 2;

        &-top {
            h1 {
                max-width: 1008px;
                margin: 0;
                text-transform: uppercase;
    
                color: white;
                font-size: 144px;
                font-weight: 700;
                line-height: 152px;
            }
    
            p {
                font-size: 24px;
            }

            @media screen and (max-width: 1100px) {
                h1 {
                    font-size: 80px;
                }
            }

            @media screen and (max-width: 768px) {
                h1 {
                    font-size: 50px;
                    line-height: 70px;
                }
            }
        }
    
        &-bottom {
            padding-top: 100px;
    
            h2 {
                margin: 0;
    
                font-size: 36px;
                font-weight: 700;
                text-transform: uppercase;
            }
    
            p {
                font-size: 18px;
            }
        }

        @media screen and (max-width: 1100px) {
            text-align: center;
            padding-left: 0;
        }
    }

    .image{
        background-image: url('../../vector/nootris-promo.png');
        background-size: contain;

        height: 842px;
        width: 712px;
        position: absolute;
        display: flex;
        right: 160px;
        top: 200px;  
    }



    @media screen and (max-width: 1500px) {
        .promo{
            width: auto;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .image{
            display: none;
        }
    }

}