
.fixed-top{
    position: fixed;
    top: 0;
    background: #000;
    z-index: 10;
    width: 100%;

}

.navbar{
    z-index: 20;
    top: 20px;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    

    .navbar-logo{
        cursor: pointer;
    }

    .navbar-list{
        display: flex;
    }

    .navbar-item{
        margin: 0 40px;
        list-style: none;
    }

    a{
        text-decoration: none;
        color: white;

        &:hover{
            color: antiquewhite;
            transition: 250ms;
        }
    }

    .navbar-menu{
        display: none;
        cursor: pointer;
    }

    .navbar-tele{
        cursor: pointer;
        margin: 0 40px;
    }

    .navbar-links{
        display: flex;
    }

    .navbar-basket{
        cursor: pointer;
        margin-left: 76px;

        &:hover{
            color: antiquewhite;
        }
    }

    .header__bag {
        width: 40px;
        height: 37px;
        cursor: pointer;

        img {
            width: 32px;
            height: 32px;
        }

        &-count {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            position: relative;

            z-index: 0;
            top: -24px;
            left: 21px;

            font-size: 12px;
            background-color: #FCB500;
            color: black;
            text-align: center;
        }
    }

    @media screen and (max-width: 1500px){
        .navbar-list{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
            top: 80px;
            left: -100%;
            width: 100%;
            height: 300px;
            transition: all 1s;
            background: #000;
            filter: blur(0.2);
            z-index: 10;
        }

        .navbar-list--active{
            left: 0;
        }

        .navbar-menu{
            display: flex;
        }
    }
}